body {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Atkinson Hyperlegible";
}

.heading {
	text-align: center;
	font-family: "Silkscreen"; font-size: 40px;
	color: #d08770;
	padding: 50px;
	padding-bottom: 60px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	width: 260px;
}

input[type="text"] {
	padding: 5px;
	font-family: "Atkinson Hyperlegible";
	color: white;
	border: none;
	border-radius: 3px;
	background-color: rgba(87, 85, 85, 0.593);
}

.movie-heading {
	color: #ebcb8b;
	text-align: center;
	padding-top: 30px;
	font-family: "Silkscreen"; font-size: 32px;
}

.movie-poster {
	display: block;
	margin: auto;
	align-items: center;
	justify-content: center;
	width: 205px;
	height: 305px;
	border-radius: 5px;
}

.movie-poster:hover {
	transform: scale(1.07);
	transition: transform 0.2s ease-in-out;
}

.watch-button {
	font-family: "Silkscreen";
	font-size: 16px;
	/* align-items: center; */
	background-color: #d08770;
	justify-content: center;
	display: block;
	margin: 10px auto;
	border: None;
	border-radius: 3px;
	padding: 5px;
	transition: transform 0.2s ease;
}

.watch-button:hover {
	transform: scale(1.1)
}

.movie-desc {
	font-family: "Atkinson Hyperlegible";
	color: #88C0D0;
	text-align: center;
	justify-content: center;
	margin: 10px auto 10px;
	max-width: 500px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

/* Loader animation styles */
.loader {
	border: 5px solid rgba(87, 85, 85, 0.593);
	border-top: 5px solid #d08770;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s cubic-bezier(1, 0.5, 0.2, 0.7) infinite;
}

.foot {
	text-align: center;
    font-family: "Atkinson Hyperlegible";
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: auto; /* Push the footer to the bottom */
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}